---
import "../styles/global.css";
import logo from "../assets/logo-cas.png";
import { Image } from "astro:assets";
---

<header class="flex justify-center items-center py-4">
  <div class="flex items-center space-x-3">
    <Image src={logo} alt="BeaverAI Logo" class="w-15 h-12" />
    <h1 class="text-2xl font-logo bg-gradient-to-r from-violet-200 to-pink-200 bg-clip-text text-transparent tracking-wide">BeaverAI</h1>
  </div>
</header>