---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Chat from '../components/Chat.astro';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/beaver.svg" />
    <title>BeaverAI</title>
  </head>
  <body class="font-sans bg-gradient-to-r from-slate-500 to-slate-800 transition-all duration-2000 ease-in-out min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <Chat />
    </main>
    <Footer />
  </body>
</html>
<script>
  import "../scripts/chat.js";
</script>